## 0. Load imports

In [83]:
## imports
import pandas as pd
import numpy as np


# ## print multiple things from same cell
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [84]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27933 entries, 0 to 27932
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27933 non-null  float64
 1   Y                     27933 non-null  float64
 2   CCN                   27933 non-null  int64
 3   REPORT_DAT            27933 non-null  object
 4   SHIFT                 27933 non-null  object
 5   METHOD                27933 non-null  object
 6   OFFENSE               27933 non-null  object
 7   BLOCK                 27933 non-null  object
 8   XBLOCK                27933 non-null  float64
 9   YBLOCK                27933 non-null  float64
 10  WARD                  27933 non-null  int64
 11  ANC                   27933 non-null  object
 12  DISTRICT              27904 non-null  float64
 13  PSA                   27898 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27933 non-null  object
 15  BLOCK_GROUP           27932 non-null  object
 16  CENSUS_TRACT          27932 non-null  float64
 17  VOTING_PRECINCT       27933 non-null  object
 18  LATITUDE              27933 non-null  float64
 19  LONGITUDE             27933 non-null  float64
 20  BID                   4657 non-null   object
 21  START_DATE            27932 non-null  object
 22  END_DATE              24851 non-null  object
 23  OBJECTID              27933 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [3]:
df

df.OFFENSE.value_counts()

pd.DataFrame() ## shift-tab

plus1=lambda x: x+1

result = plus1(5)
print(result)

print(plus1(df.OFFENSE.value_counts()))
print(df.OFFENSE.value_counts())

6
OFFENSE
THEFT/OTHER                   10928
THEFT F/AUTO                   8284
MOTOR VEHICLE THEFT            3261
ROBBERY                        1999
ASSAULT W/DANGEROUS WEAPON     1633
BURGLARY                       1445
HOMICIDE                        199
SEX ABUSE                       179
ARSON                            14
Name: count, dtype: int64
OFFENSE
THEFT/OTHER                   10927
THEFT F/AUTO                   8283
MOTOR VEHICLE THEFT            3260
ROBBERY                        1998
ASSAULT W/DANGEROUS WEAPON     1632
BURGLARY                       1444
HOMICIDE                        198
SEX ABUSE                       178
ARSON                            13
Name: count, dtype: int64

#### Warm-up: Ways to add one to column X
And how to time your code

In [85]:
print(plus1(df.OFFENSE.value_counts()))

OFFENSE
THEFT/OTHER                   10928
THEFT F/AUTO                   8284
MOTOR VEHICLE THEFT            3261
ROBBERY                        1999
ASSAULT W/DANGEROUS WEAPON     1633
BURGLARY                       1445
HOMICIDE                        199
SEX ABUSE                       179
ARSON                            14
Name: count, dtype: int64

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [86]:
uni_offense_gb_ward = df.groupby("WARD").agg(
    {"OFFENSE":"unique"}
).reset_index()

In [87]:
uni_offense_gb_ward

   WARD                                            OFFENSE
0     1  [ROBBERY, THEFT/OTHER, THEFT F/AUTO, MOTOR VEH...
1     2  [THEFT/OTHER, THEFT F/AUTO, MOTOR VEHICLE THEF...
2     3  [ASSAULT W/DANGEROUS WEAPON, THEFT/OTHER, THEF...
3     4  [THEFT F/AUTO, THEFT/OTHER, ROBBERY, MOTOR VEH...
4     5  [THEFT F/AUTO, MOTOR VEHICLE THEFT, ROBBERY, T...
5     6  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, BURG...
6     7  [THEFT/OTHER, BURGLARY, MOTOR VEHICLE THEFT, T...
7     8  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, HOMI...

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [88]:
uni_offense_content_gb_ward = df.groupby("WARD").agg(
    {"OFFENSE":["unique", "unique"]}
).reset_index()

uni_offense_content_gb_ward

  WARD                                            OFFENSE  \
                                                   unique
0    1  [ROBBERY, THEFT/OTHER, THEFT F/AUTO, MOTOR VEH...
1    2  [THEFT/OTHER, THEFT F/AUTO, MOTOR VEHICLE THEF...
2    3  [ASSAULT W/DANGEROUS WEAPON, THEFT/OTHER, THEF...
3    4  [THEFT F/AUTO, THEFT/OTHER, ROBBERY, MOTOR VEH...
4    5  [THEFT F/AUTO, MOTOR VEHICLE THEFT, ROBBERY, T...
5    6  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, BURG...
6    7  [THEFT/OTHER, BURGLARY, MOTOR VEHICLE THEFT, T...
7    8  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, HOMI...


                                              unique
0  [ROBBERY, THEFT/OTHER, THEFT F/AUTO, MOTOR VEH...
1  [THEFT/OTHER, THEFT F/AUTO, MOTOR VEHICLE THEF...
2  [ASSAULT W/DANGEROUS WEAPON, THEFT/OTHER, THEF...
3  [THEFT F/AUTO, THEFT/OTHER, ROBBERY, MOTOR VEH...
4  [THEFT F/AUTO, MOTOR VEHICLE THEFT, ROBBERY, T...
5  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, BURG...
6  [THEFT/OTHER, BURGLARY, MOTOR VEHICLE THEFT, T...
7  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, HOMI...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [89]:
uni_offense_content_gb_ward = df.groupby(["WARD", "SHIFT"])["OFFENSE"].agg(lambda x: x.mode())

uni_offense_content_gb_ward

WARD  SHIFT
1     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
2     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
3     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
4     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
5     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
6     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
7     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
8     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT    ASSAULT W/DANGEROUS WEAPON
Name: OFFENSE, dtype: object

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [90]:
df[["LATITUDE", "LONGITUDE"]].apply(np.mean)

LATITUDE     38.907613
LONGITUDE   -77.007049
dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [91]:
is_theft = df.OFFENSE.str.contains("THEFT", case=False)

is_theft

In [92]:
is_theft_motor = (df.OFFENSE.str.contains("THEFT", case=False) & ~ df.OFFENSE.str.contains("MOTOR", case=False))

is_theft_motor

0         True
1         True
2         True
3         True
4        False
         ...
27928    False
27929     True
27930    False
27931    False
27932     True
Name: OFFENSE, Length: 27933, dtype: bool

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [96]:
conditions = [
    (df['OFFENSE'].str.contains('THEFT')) & ((df['METHOD'] == 'GUN') | (df['METHOD'] == 'KNIFE')),
    (~df['OFFENSE'].str.contains('THEFT')) & ((df['METHOD'] == 'GUN') | (df['METHOD'] == 'KNIFE')),
    True
]

values = ['violent theft', 'violent other', 'non-violent'] # condition 1, condition 2, neither

# Use np.select to create the 'offense_summary' column
df['offense_summary'] = np.select(conditions, values)

# Print the DataFrame
print(df)

               X          Y       CCN              REPORT_DAT    SHIFT  \
0     -76.993094  38.928471  20153901  2020/10/27 20:37:21+00  EVENING
1     -77.027049  38.904911  20095149  2020/06/30 20:46:51+00  EVENING
2     -76.947655  38.896660  20064305  2020/04/27 23:44:04+00  EVENING
3     -77.032861  38.956717  20100388  2020/07/12 18:37:14+00      DAY
4     -76.979766  38.915804  20128992  2020/09/09 18:00:44+00      DAY
...          ...        ...       ...                     ...      ...
27928 -77.040861  38.905205  20109618  2020/08/01 15:12:23+00      DAY
27929 -77.020915  38.902526  20152852  2020/10/25 18:25:58+00      DAY
27930 -76.965994  38.876867  20020481  2020/02/03 16:50:47+00      DAY
27931 -77.024174  38.925028  20075827  2020/05/22 18:42:22+00      DAY
27932 -77.029716  38.940278  20075557  2020/05/22 02:24:34+00  EVENING

       METHOD                     OFFENSE  \
0      OTHERS                THEFT F/AUTO
1      OTHERS                 THEFT/OTHER
2      OTHERS                 THEFT/OTHER
3      OTHERS                THEFT F/AUTO
4      OTHERS         MOTOR VEHICLE THEFT
...       ...                         ...
27928  OTHERS                    BURGLARY
27929  OTHERS                 THEFT/OTHER
27930  OTHERS                    BURGLARY
27931     GUN  ASSAULT W/DANGEROUS WEAPON
27932  OTHERS                 THEFT/OTHER

                                              BLOCK    XBLOCK    YBLOCK  ...  \
0               900 - 999 BLOCK OF IRVING STREET NE  400599.0  140065.0  ...
1               1101 - 1199 BLOCK OF 11TH STREET NW  397654.0  137450.0  ...
2          4000 - 4121 BLOCK OF MINNESOTA AVENUE NE  404541.0  136535.0  ...
3          5500  - 5599 BLOCK OF COLORADO AVENUE NW  397152.0  143201.0  ...
4      2100 - 2131 BLOCK OF WEST VIRGINIA AVENUE NE  401755.0  138659.0  ...
...                                             ...       ...       ...  ...
27928    1130 - 1199 BLOCK OF CONNECTICUT AVENUE NW  396456.0  137483.0  ...
27929                600 - 699 BLOCK OF K STREET NW  398186.0  137185.0  ...
27930              2900 - 2999 BLOCK OF M STREET SE  402951.0  134337.0  ...
27931         700 - 799 BLOCK OF FAIRMONT STREET NW  397904.0  139683.0  ...
27932          4000  - 4099 BLOCK OF 13TH STREET NW  397424.0  141376.0  ...

       CENSUS_TRACT VOTING_PRECINCT   LATITUDE  LONGITUDE  \
0            9301.0     Precinct 73  38.928463 -76.993092
1            4902.0    Precinct 129  38.904904 -77.027047
2            7803.0     Precinct 99  38.896652 -76.947653
3            2001.0     Precinct 53  38.956709 -77.032858
4            8804.0     Precinct 76  38.915796 -76.979764
...             ...             ...        ...        ...
27928       10700.0     Precinct 17  38.905197 -77.040859
27929        4703.0     Precinct 18  38.902518 -77.020913
27930        7709.0    Precinct 111  38.876859 -76.965991
27931        3500.0     Precinct 37  38.925020 -77.024172
27932        2504.0     Precinct 47  38.940270 -77.029713

                             BID              START_DATE  \
0                            NaN  2020/10/27 20:26:31+00
1                            NaN  2020/06/29 23:30:04+00
2                            NaN  2020/04/27 22:49:30+00
3                            NaN  2020/07/12 17:36:13+00
4                            NaN  2020/09/09 01:30:07+00
...                          ...                     ...
27928            GOLDEN TRIANGLE  2020/07/31 19:00:19+00
27929  MOUNT VERNON TRIANGLE CID  2020/10/25 17:00:17+00
27930                        NaN  2020/02/03 16:10:39+00
27931                        NaN  2020/05/22 17:27:34+00
27932                        NaN  2020/05/17 16:00:51+00

                     END_DATE   OBJECTID  OCTO_RECORD_ID  offense_summary
0      2020/10/27 20:37:29+00  398217667             NaN      non-violent
1      2020/06/30 11:00:09+00  398217668             NaN      non-violent
2                         NaN  398217670             NaN      non-violent
3      2020/07/12 18:10:45+00  398217673             NaN      non-violent
4      2020/09/10 23:00:57+00  398217674             NaN      non-violent
...                       ...        ...             ...              ...
27928  2020/08/01 15:13:33+00  398740090             NaN      non-violent
27929  2020/10/25 17:10:27+00  398740091             NaN      non-violent
27930  2020/02/03 16:50:48+00  398740098             NaN      non-violent
27931  2020/05/22 18:42:31+00  398740104             NaN    violent other
27932  2020/05/20 21:00:59+00  398740106             NaN      non-violent

[27933 rows x 26 columns]

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [42]:
# Define conditions and values
conditions = [
    df['SHIFT'].str.contains('MIDNIGHT|EVENING'),
    True
]

values = ['nighttime', 'daytime']  # Assign 'nighttime' if condition 1 is True, 'daytime' otherwise

# Use np.select to create the 'SHIFT' column
df['SHIFT'] = np.select(conditions, values)

# Print the DataFrame
print(df)

               X          Y       CCN              REPORT_DAT      SHIFT  \
0     -76.993094  38.928471  20153901  2020/10/27 20:37:21+00  nighttime
1     -77.027049  38.904911  20095149  2020/06/30 20:46:51+00  nighttime
2     -76.947655  38.896660  20064305  2020/04/27 23:44:04+00  nighttime
3     -77.032861  38.956717  20100388  2020/07/12 18:37:14+00    daytime
4     -76.979766  38.915804  20128992  2020/09/09 18:00:44+00    daytime
...          ...        ...       ...                     ...        ...
27928 -77.040861  38.905205  20109618  2020/08/01 15:12:23+00    daytime
27929 -77.020915  38.902526  20152852  2020/10/25 18:25:58+00    daytime
27930 -76.965994  38.876867  20020481  2020/02/03 16:50:47+00    daytime
27931 -77.024174  38.925028  20075827  2020/05/22 18:42:22+00    daytime
27932 -77.029716  38.940278  20075557  2020/05/22 02:24:34+00  nighttime

       METHOD                     OFFENSE  \
0      OTHERS                THEFT F/AUTO
1      OTHERS                 THEFT/OTHER
2      OTHERS                 THEFT/OTHER
3      OTHERS                THEFT F/AUTO
4      OTHERS         MOTOR VEHICLE THEFT
...       ...                         ...
27928  OTHERS                    BURGLARY
27929  OTHERS                 THEFT/OTHER
27930  OTHERS                    BURGLARY
27931     GUN  ASSAULT W/DANGEROUS WEAPON
27932  OTHERS                 THEFT/OTHER

                                              BLOCK    XBLOCK    YBLOCK  ...  \
0               900 - 999 BLOCK OF IRVING STREET NE  400599.0  140065.0  ...
1               1101 - 1199 BLOCK OF 11TH STREET NW  397654.0  137450.0  ...
2          4000 - 4121 BLOCK OF MINNESOTA AVENUE NE  404541.0  136535.0  ...
3          5500  - 5599 BLOCK OF COLORADO AVENUE NW  397152.0  143201.0  ...
4      2100 - 2131 BLOCK OF WEST VIRGINIA AVENUE NE  401755.0  138659.0  ...
...                                             ...       ...       ...  ...
27928    1130 - 1199 BLOCK OF CONNECTICUT AVENUE NW  396456.0  137483.0  ...
27929                600 - 699 BLOCK OF K STREET NW  398186.0  137185.0  ...
27930              2900 - 2999 BLOCK OF M STREET SE  402951.0  134337.0  ...
27931         700 - 799 BLOCK OF FAIRMONT STREET NW  397904.0  139683.0  ...
27932          4000  - 4099 BLOCK OF 13TH STREET NW  397424.0  141376.0  ...

       CENSUS_TRACT VOTING_PRECINCT   LATITUDE  LONGITUDE  \
0            9301.0     Precinct 73  38.928463 -76.993092
1            4902.0    Precinct 129  38.904904 -77.027047
2            7803.0     Precinct 99  38.896652 -76.947653
3            2001.0     Precinct 53  38.956709 -77.032858
4            8804.0     Precinct 76  38.915796 -76.979764
...             ...             ...        ...        ...
27928       10700.0     Precinct 17  38.905197 -77.040859
27929        4703.0     Precinct 18  38.902518 -77.020913
27930        7709.0    Precinct 111  38.876859 -76.965991
27931        3500.0     Precinct 37  38.925020 -77.024172
27932        2504.0     Precinct 47  38.940270 -77.029713

                             BID              START_DATE  \
0                            NaN  2020/10/27 20:26:31+00
1                            NaN  2020/06/29 23:30:04+00
2                            NaN  2020/04/27 22:49:30+00
3                            NaN  2020/07/12 17:36:13+00
4                            NaN  2020/09/09 01:30:07+00
...                          ...                     ...
27928            GOLDEN TRIANGLE  2020/07/31 19:00:19+00
27929  MOUNT VERNON TRIANGLE CID  2020/10/25 17:00:17+00
27930                        NaN  2020/02/03 16:10:39+00
27931                        NaN  2020/05/22 17:27:34+00
27932                        NaN  2020/05/17 16:00:51+00

                     END_DATE   OBJECTID  OCTO_RECORD_ID  offense_summary
0      2020/10/27 20:37:29+00  398217667             NaN      non-violent
1      2020/06/30 11:00:09+00  398217668             NaN      non-violent
2                         NaN  398217670             NaN      non-violent
3      2020/07/12 18:10:45+00  398217673             NaN      non-violent
4      2020/09/10 23:00:57+00  398217674             NaN      non-violent
...                       ...        ...             ...              ...
27928  2020/08/01 15:13:33+00  398740090             NaN      non-violent
27929  2020/10/25 17:10:27+00  398740091             NaN      non-violent
27930  2020/02/03 16:50:48+00  398740098             NaN      non-violent
27931  2020/05/22 18:42:31+00  398740104             NaN    violent other
27932  2020/05/20 21:00:59+00  398740106             NaN      non-violent

[27933 rows x 26 columns]

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [47]:
df['OFFENSE_NOSP'] = df['OFFENSE'].str.replace(" ", "_")

print(df)

               X          Y       CCN              REPORT_DAT      SHIFT  \
0     -76.993094  38.928471  20153901  2020/10/27 20:37:21+00  nighttime
1     -77.027049  38.904911  20095149  2020/06/30 20:46:51+00  nighttime
2     -76.947655  38.896660  20064305  2020/04/27 23:44:04+00  nighttime
3     -77.032861  38.956717  20100388  2020/07/12 18:37:14+00    daytime
4     -76.979766  38.915804  20128992  2020/09/09 18:00:44+00    daytime
...          ...        ...       ...                     ...        ...
27928 -77.040861  38.905205  20109618  2020/08/01 15:12:23+00    daytime
27929 -77.020915  38.902526  20152852  2020/10/25 18:25:58+00    daytime
27930 -76.965994  38.876867  20020481  2020/02/03 16:50:47+00    daytime
27931 -77.024174  38.925028  20075827  2020/05/22 18:42:22+00    daytime
27932 -77.029716  38.940278  20075557  2020/05/22 02:24:34+00  nighttime

       METHOD                     OFFENSE  \
0      OTHERS                THEFT F/AUTO
1      OTHERS                 THEFT/OTHER
2      OTHERS                 THEFT/OTHER
3      OTHERS                THEFT F/AUTO
4      OTHERS         MOTOR VEHICLE THEFT
...       ...                         ...
27928  OTHERS                    BURGLARY
27929  OTHERS                 THEFT/OTHER
27930  OTHERS                    BURGLARY
27931     GUN  ASSAULT W/DANGEROUS WEAPON
27932  OTHERS                 THEFT/OTHER

                                              BLOCK    XBLOCK    YBLOCK  ...  \
0               900 - 999 BLOCK OF IRVING STREET NE  400599.0  140065.0  ...
1               1101 - 1199 BLOCK OF 11TH STREET NW  397654.0  137450.0  ...
2          4000 - 4121 BLOCK OF MINNESOTA AVENUE NE  404541.0  136535.0  ...
3          5500  - 5599 BLOCK OF COLORADO AVENUE NW  397152.0  143201.0  ...
4      2100 - 2131 BLOCK OF WEST VIRGINIA AVENUE NE  401755.0  138659.0  ...
...                                             ...       ...       ...  ...
27928    1130 - 1199 BLOCK OF CONNECTICUT AVENUE NW  396456.0  137483.0  ...
27929                600 - 699 BLOCK OF K STREET NW  398186.0  137185.0  ...
27930              2900 - 2999 BLOCK OF M STREET SE  402951.0  134337.0  ...
27931         700 - 799 BLOCK OF FAIRMONT STREET NW  397904.0  139683.0  ...
27932          4000  - 4099 BLOCK OF 13TH STREET NW  397424.0  141376.0  ...

       VOTING_PRECINCT   LATITUDE  LONGITUDE                        BID  \
0          Precinct 73  38.928463 -76.993092                        NaN
1         Precinct 129  38.904904 -77.027047                        NaN
2          Precinct 99  38.896652 -76.947653                        NaN
3          Precinct 53  38.956709 -77.032858                        NaN
4          Precinct 76  38.915796 -76.979764                        NaN
...                ...        ...        ...                        ...
27928      Precinct 17  38.905197 -77.040859            GOLDEN TRIANGLE
27929      Precinct 18  38.902518 -77.020913  MOUNT VERNON TRIANGLE CID
27930     Precinct 111  38.876859 -76.965991                        NaN
27931      Precinct 37  38.925020 -77.024172                        NaN
27932      Precinct 47  38.940270 -77.029713                        NaN

                   START_DATE                END_DATE   OBJECTID  \
0      2020/10/27 20:26:31+00  2020/10/27 20:37:29+00  398217667
1      2020/06/29 23:30:04+00  2020/06/30 11:00:09+00  398217668
2      2020/04/27 22:49:30+00                     NaN  398217670
3      2020/07/12 17:36:13+00  2020/07/12 18:10:45+00  398217673
4      2020/09/09 01:30:07+00  2020/09/10 23:00:57+00  398217674
...                       ...                     ...        ...
27928  2020/07/31 19:00:19+00  2020/08/01 15:13:33+00  398740090
27929  2020/10/25 17:00:17+00  2020/10/25 17:10:27+00  398740091
27930  2020/02/03 16:10:39+00  2020/02/03 16:50:48+00  398740098
27931  2020/05/22 17:27:34+00  2020/05/22 18:42:31+00  398740104
27932  2020/05/17 16:00:51+00  2020/05/20 21:00:59+00  398740106

      OCTO_RECORD_ID  offense_summary                OFFENSE_NOSP
0                NaN      non-violent                THEFT_F/AUTO
1                NaN      non-violent                 THEFT/OTHER
2                NaN      non-violent                 THEFT/OTHER
3                NaN      non-violent                THEFT_F/AUTO
4                NaN      non-violent         MOTOR_VEHICLE_THEFT
...              ...              ...                         ...
27928            NaN      non-violent                    BURGLARY
27929            NaN      non-violent                 THEFT/OTHER
27930            NaN      non-violent                    BURGLARY
27931            NaN    violent other  ASSAULT_W/DANGEROUS_WEAPON
27932            NaN      non-violent                 THEFT/OTHER

[27933 rows x 27 columns]

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [51]:
type(df["START_DATE"])

pandas.core.series.Series

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [52]:

# Convert 'START_DATE' to datetime, creating 'START_DATE_CLEAN'
df['START_DATE_CLEAN'] = pd.to_datetime(df['START_DATE'], errors='coerce')

# Check the data type of 'START_DATE_CLEAN'
print(df['START_DATE_CLEAN'].dtype)

# Print the DataFrame
print(df)

datetime64[ns, UTC]
               X          Y       CCN              REPORT_DAT      SHIFT  \
0     -76.993094  38.928471  20153901  2020/10/27 20:37:21+00  nighttime
1     -77.027049  38.904911  20095149  2020/06/30 20:46:51+00  nighttime
2     -76.947655  38.896660  20064305  2020/04/27 23:44:04+00  nighttime
3     -77.032861  38.956717  20100388  2020/07/12 18:37:14+00    daytime
4     -76.979766  38.915804  20128992  2020/09/09 18:00:44+00    daytime
...          ...        ...       ...                     ...        ...
27928 -77.040861  38.905205  20109618  2020/08/01 15:12:23+00    daytime
27929 -77.020915  38.902526  20152852  2020/10/25 18:25:58+00    daytime
27930 -76.965994  38.876867  20020481  2020/02/03 16:50:47+00    daytime
27931 -77.024174  38.925028  20075827  2020/05/22 18:42:22+00    daytime
27932 -77.029716  38.940278  20075557  2020/05/22 02:24:34+00  nighttime

       METHOD                     OFFENSE  \
0      OTHERS                THEFT F/AUTO
1      OTHERS                 THEFT/OTHER
2      OTHERS                 THEFT/OTHER
3      OTHERS                THEFT F/AUTO
4      OTHERS         MOTOR VEHICLE THEFT
...       ...                         ...
27928  OTHERS                    BURGLARY
27929  OTHERS                 THEFT/OTHER
27930  OTHERS                    BURGLARY
27931     GUN  ASSAULT W/DANGEROUS WEAPON
27932  OTHERS                 THEFT/OTHER

                                              BLOCK    XBLOCK    YBLOCK  ...  \
0               900 - 999 BLOCK OF IRVING STREET NE  400599.0  140065.0  ...
1               1101 - 1199 BLOCK OF 11TH STREET NW  397654.0  137450.0  ...
2          4000 - 4121 BLOCK OF MINNESOTA AVENUE NE  404541.0  136535.0  ...
3          5500  - 5599 BLOCK OF COLORADO AVENUE NW  397152.0  143201.0  ...
4      2100 - 2131 BLOCK OF WEST VIRGINIA AVENUE NE  401755.0  138659.0  ...
...                                             ...       ...       ...  ...
27928    1130 - 1199 BLOCK OF CONNECTICUT AVENUE NW  396456.0  137483.0  ...
27929                600 - 699 BLOCK OF K STREET NW  398186.0  137185.0  ...
27930              2900 - 2999 BLOCK OF M STREET SE  402951.0  134337.0  ...
27931         700 - 799 BLOCK OF FAIRMONT STREET NW  397904.0  139683.0  ...
27932          4000  - 4099 BLOCK OF 13TH STREET NW  397424.0  141376.0  ...

        LATITUDE  LONGITUDE                        BID  \
0      38.928463 -76.993092                        NaN
1      38.904904 -77.027047                        NaN
2      38.896652 -76.947653                        NaN
3      38.956709 -77.032858                        NaN
4      38.915796 -76.979764                        NaN
...          ...        ...                        ...
27928  38.905197 -77.040859            GOLDEN TRIANGLE
27929  38.902518 -77.020913  MOUNT VERNON TRIANGLE CID
27930  38.876859 -76.965991                        NaN
27931  38.925020 -77.024172                        NaN
27932  38.940270 -77.029713                        NaN

                   START_DATE                END_DATE   OBJECTID  \
0      2020/10/27 20:26:31+00  2020/10/27 20:37:29+00  398217667
1      2020/06/29 23:30:04+00  2020/06/30 11:00:09+00  398217668
2      2020/04/27 22:49:30+00                     NaN  398217670
3      2020/07/12 17:36:13+00  2020/07/12 18:10:45+00  398217673
4      2020/09/09 01:30:07+00  2020/09/10 23:00:57+00  398217674
...                       ...                     ...        ...
27928  2020/07/31 19:00:19+00  2020/08/01 15:13:33+00  398740090
27929  2020/10/25 17:00:17+00  2020/10/25 17:10:27+00  398740091
27930  2020/02/03 16:10:39+00  2020/02/03 16:50:48+00  398740098
27931  2020/05/22 17:27:34+00  2020/05/22 18:42:31+00  398740104
27932  2020/05/17 16:00:51+00  2020/05/20 21:00:59+00  398740106

       OCTO_RECORD_ID offense_summary                OFFENSE_NOSP  \
0                 NaN     non-violent                THEFT_F/AUTO
1                 NaN     non-violent                 THEFT/OTHER
2                 NaN     non-violent                 THEFT/OTHER
3                 NaN     non-violent                THEFT_F/AUTO
4                 NaN     non-violent         MOTOR_VEHICLE_THEFT
...               ...             ...                         ...
27928             NaN     non-violent                    BURGLARY
27929             NaN     non-violent                 THEFT/OTHER
27930             NaN     non-violent                    BURGLARY
27931             NaN   violent other  ASSAULT_W/DANGEROUS_WEAPON
27932             NaN     non-violent                 THEFT/OTHER

               START_DATE_CLEAN
0     2020-10-27 20:26:31+00:00
1     2020-06-29 23:30:04+00:00
2     2020-04-27 22:49:30+00:00
3     2020-07-12 17:36:13+00:00
4     2020-09-09 01:30:07+00:00
...                         ...
27928 2020-07-31 19:00:19+00:00
27929 2020-10-25 17:00:17+00:00
27930 2020-02-03 16:10:39+00:00
27931 2020-05-22 17:27:34+00:00
27932 2020-05-17 16:00:51+00:00

[27933 rows x 28 columns]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [56]:
df["START_DATE_CLEAN"].min()

Timestamp('1940-02-17 00:00:16+0000', tz='UTC')

In [57]:
df["START_DATE_CLEAN"].max()

Timestamp('2021-01-01 02:30:21+0000', tz='UTC')

## 3. Row and column filtering

In [82]:
df["START_DATE"].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [81]:
# Filter the DataFrame for theft reports in Ward 3

is_theft = df.OFFENSE.str.contains("THEFT", case=False)

filtered_df = df[(is_theft == True) & (df['WARD'] == 3)]

# Print the filtered DataFrame
print(filtered_df)

               X          Y       CCN              REPORT_DAT     SHIFT  \
11    -77.051908  38.924199  20170566  2020/11/30 20:53:51+00   EVENING
18    -77.083768  38.960042  20121641  2020/08/26 03:29:34+00  MIDNIGHT
28    -77.060408  38.938806  20160695  2020/11/10 05:15:06+00  MIDNIGHT
59    -77.074228  38.962589  20035501  2020/02/27 22:44:09+00   EVENING
74    -77.056309  38.933503  20001654  2020/01/03 20:09:51+00   EVENING
...          ...        ...       ...                     ...       ...
27884 -77.100422  38.939076  20082153  2020/06/03 05:33:48+00  MIDNIGHT
27897 -77.079449  38.925868  20122540  2020/08/27 20:48:23+00   EVENING
27900 -77.082455  38.952107  20096992  2020/07/04 23:10:54+00   EVENING
27911 -77.093486  38.945541  20092362  2020/06/24 17:18:29+00       DAY
27914 -77.079947  38.948361  20160319  2020/11/09 15:29:18+00       DAY

       METHOD       OFFENSE                                       BLOCK  \
11     OTHERS   THEFT/OTHER  2600 - 2649 BLOCK OF CONNECTICUT AVENUE NW
18     OTHERS  THEFT F/AUTO         5300 - 5399 BLOCK OF 43RD STREET NW
28     OTHERS   THEFT/OTHER  3700 - 3899 BLOCK OF CONNECTICUT AVENUE NW
59     OTHERS   THEFT/OTHER  5420 - 5499 BLOCK OF CONNECTICUT AVENUE NW
74     OTHERS  THEFT F/AUTO       2700 - 2899 BLOCK OF MACOMB STREET NW
...       ...           ...                                         ...
27884  OTHERS   THEFT/OTHER     5000 - 5099 BLOCK OF SEDGWICK STREET NW
27897  OTHERS   THEFT/OTHER         3900 - 4099 BLOCK OF TUNLAW ROAD NW
27900  OTHERS  THEFT F/AUTO    4200 - 4299 BLOCK OF DAVENPORT STREET NW
27911  OTHERS  THEFT F/AUTO        4700 - 4799 BLOCK OF WINDOM PLACE NW
27914  OTHERS   THEFT/OTHER    4500 - 4537 BLOCK OF WISCONSIN AVENUE NW

         XBLOCK    YBLOCK  ...  BLOCK_GROUP CENSUS_TRACT  VOTING_PRECINCT  \
11     395499.0  139592.0  ...     000501 1        501.0     Precinct 136
18     392740.0  143573.0  ...     001100 2       1100.0      Precinct 32
28     394763.0  141214.0  ...     000600 1        600.0      Precinct 27
59     393567.0  143855.0  ...     001401 1       1401.0      Precinct 50
74     395118.0  140625.0  ...     001304 1       1304.0      Precinct 34
...         ...       ...  ...          ...          ...              ...
27884  391294.0  141247.0  ...     000904 2        904.0       Precinct 9
27897  393111.0  139779.0  ...     000702 1        702.0      Precinct 11
27900  392853.0  142692.0  ...     001004 2       1004.0      Precinct 31
27911  391896.0  141964.0  ...     001003 3       1003.0      Precinct 30
27914  393070.0  142276.0  ...     001004 2       1004.0      Precinct 31

        LATITUDE  LONGITUDE  BID              START_DATE  \
11     38.924191 -77.051906  NaN  2020/11/30 16:45:06+00
18     38.960035 -77.083765  NaN  2020/08/25 22:30:03+00
28     38.938799 -77.060406  NaN  2020/11/10 03:47:06+00
59     38.962581 -77.074226  NaN  2020/02/27 18:50:10+00
74     38.933495 -77.056307  NaN  2020/01/03 19:38:39+00
...          ...        ...  ...                     ...
27884  38.939068 -77.100419  NaN  2020/05/31 10:40:44+00
27897  38.925860 -77.079447  NaN  2020/08/27 16:00:16+00
27900  38.952099 -77.082452  NaN  2020/07/01 17:00:38+00
27911  38.945533 -77.093484  NaN  2020/06/23 17:00:55+00
27914  38.948354 -77.079945  NaN  2020/11/08 20:25:49+00

                     END_DATE   OBJECTID  OCTO_RECORD_ID
11     2020/11/30 17:30:13+00  398217704             NaN
18     2020/08/26 01:00:04+00  398217732             NaN
28     2020/11/10 05:15:44+00  398217791             NaN
59     2020/02/27 22:00:06+00  398217992             NaN
74     2020/01/03 20:10:05+00  398218125             NaN
...                       ...        ...             ...
27884  2020/05/31 12:00:42+00  398739669             NaN
27897  2020/08/27 16:45:02+00  398739733             NaN
27900  2020/07/01 18:15:43+00  398739767             NaN
27911  2020/06/23 19:30:27+00  398739853             NaN
27914  2020/11/08 20:30:51+00  398739863             NaN

[1523 rows x 25 columns]

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [66]:
df[["START_DATE", "END_DATE"]].head()

               START_DATE                END_DATE
0  2020/10/27 20:26:31+00  2020/10/27 20:37:29+00
1  2020/06/29 23:30:04+00  2020/06/30 11:00:09+00
2  2020/04/27 22:49:30+00                     NaN
3  2020/07/12 17:36:13+00  2020/07/12 18:10:45+00
4  2020/09/09 01:30:07+00  2020/09/10 23:00:57+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [72]:
df.loc[:, df.columns.str.contains("DATE")]

,START_DATE,END_DATE,START_DATE_CLEAN
0,2020/10/27 20:26:31+00,2020/10/27 20:37:29+00,2020-10-27 20:26:31+00:00
1,2020/06/29 23:30:04+00,2020/06/30 11:00:09+00,2020-06-29 23:30:04+00:00
2,2020/04/27 22:49:30+00,NaN,2020-04-27 22:49:30+00:00
3,2020/07/12 17:36:13+00,2020/07/12 18:10:45+00,2020-07-12 17:36:13+00:00
4,2020/09/09 01:30:07+00,2020/09/10 23:00:57+00,2020-09-09 01:30:07+00:00
...,...,...,...
27928,2020/07/31 19:00:19+00,2020/08/01 15:13:33+00,2020-07-31 19:00:19+00:00
27929,2020/10/25 17:00:17+00,2020/10/25 17:10:27+00,2020-10-25 17:00:17+00:00
27930,2020/02/03 16:10:39+00,2020/02/03 16:50:48+00,2020-02-03 16:10:39+00:00
27931,2020/05/22 17:27:34+00,2020/05/22 18:42:31+00,2020-05-22 17:27:34+00:00
27932,2020/05/17 16:00:51+00,2020/05/20 21:00:59+00,2020-05-17 16:00:51+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [77]:
df['START_DATE_CLEAN'] = pd.to_datetime(df['START_DATE'], errors='coerce')

# Filter reports before May 2020 and in Ward 1
filtered_df = df[(df['START_DATE_CLEAN'] < '2020-05-01') & (df['WARD'] == 1)]

# Select 'WARD' and 'START_DATE' columns
selected_columns = filtered_df[['WARD', 'START_DATE']]

# Print a random sample of rows
print(selected_columns.sample(n=5))

       WARD              START_DATE
4598      1  2020/04/29 19:55:49+00
6801      1  2020/01/19 03:37:43+00
10561     1  2020/03/05 15:21:06+00
22525     1  2020/04/06 17:30:00+00
4351      1  2020/02/01 17:00:49+00